*{
  margin: 0;
  padding: 0;
}

.gray-soft{
  color: #8f8f8f;
}
.gray-dark{
  color: #212121;
}
.num-purple{
  color:#49233b;
}
.container{
  width:60% !important;
}
.carousel.carousel-slider{
  height:600px !important;
  top: 90px !important;
}
.carousel .carousel-item>img{
  width: 45%;
}

#reg-button{
  top: 70%;
  position: absolute;
  left: 15%;
  width: 70%;
  background-color: #fbd43b;
}
.container-phone{
  width: 70%;
  top: 10%;
  position: absolute;
  left: 15%;
  text-align: center;
}
